# Layer this on top of config/default-single-timestep.yaml to keep only a
# curated set of generation and storage carriers. Intended as the default
# "extra functionality" test that exercises scripts/extra/limit_core_technologies.py.

run:
  name: europe-day-core-tech
  shared_cutouts: true

regions: ["europe"]
countries:
  - "AL"
  - "AT"
  - "BA"
  - "BE"
  - "BG"
  - "CH"
  - "CZ"
  - "DE"
  - "DK"
  - "EE"
  - "ES"
  - "FI"
  - "FR"
  - "GB"
  - "GR"
  - "HR"
  - "HU"
  - "IE"
  - "IT"
  - "LT"
  - "LU"
  - "LV"
  - "ME"
  - "MK"
  - "NL"
  - "NO"
  - "PL"
  - "PT"
  - "RO"
  - "RS"
  - "SE"
  - "SI"
  - "SK"
  - "XK"

scenario:
  simpl: [""]
  ll: ["copt"]
  clusters: [140]
  opts:
    - "Co2L-3h"

solving:
  options:
    formulation: kirchhoff
    load_shedding: 500.
    noisy_costs: false
    clip_p_max_pu: 0.01
    min_iterations: 1
    max_iterations: 2
    skip_iterations: true
    track_iterations: false
    extra_functionality:
      - scripts/extra/limit_core_technologies.py::limit_core_technologies
  solver:
    name: highs
    options: highs-default
  solver_options:
    highs-default:
      threads: 4
      solver: ipm
      run_crossover: off
      small_matrix_value: 1e-6
      large_matrix_value: 1e9
      primal_feasibility_tolerance: 1e-3
      dual_feasibility_tolerance: 1e-3
      ipm_optimality_tolerance: 1e-2
      parallel: on
      random_seed: 123
  mem: 24000

custom:
  core_technologies:
    allow_generators:
      - "CCGT"
      - "nuclear"
      - "onwind"
      - "offwind-ac"
      - "offwind-dc"
      - "solar"
    allow_storage:
      - "PHS"
      - "battery"
      - "gas"

global_constraints:
  - name: CO2LimitZero
    sense: "<="
    type: "primary_energy"
    carrier_attribute: "co2_emissions"
    constant: 0.0
